<div class="row">
  <div class="col-xs-12">
    <% unless @account.nil? %>
      <h2>Collectors</h2>
      <ul>
        <% @account.collectors.each do |collector| %>
          <li>
            <strong>
              <a href="https://open.spotify.com/user/<%= collector.playlist_owner_spotify_id %>/playlist/<%= collector.playlist_spotify_id %>"><%= collector.playlist_name %></a> 
            </strong>
            by <%= collector.playlist_owner_spotify_id %>
            : <code><%= collector.validation_token %></code>
            <a href="#" data-collector-id="<%= collector.id %>" class="btn btn-sm btn-danger">
              <i class="far fa-trash-alt"></i>
              <span class="sr-only">Remove collector</span>
            </a>
          </li>
        <% end %>
      </ul>
      <h3>Add a collector</h3>
      <form method="POST" action="/collectors">
        <p>Playlist URI or URL: <input name="playlist_uri" type="text"></p>
        <p>Slack webhook token: <input name="validation_token" type="text"></p>
        <input type="submit" value="Add Collector" class="btn btn-primary">
      </form>
    <% end %>
  </div>
</div>