<div class="row">
  <div class="col-xs-12">
    <% if @account.nil? %>
      <a href="/auth/spotify"><img width="300px" src="/images/Spotify_Logo_RGB_Green.png" alt="Sign in/Sign up with Spotify"></a>
    <% else %>

      <a href="/auth/slack"><img width="300px" src="/images/Slack_RGB.png" alt="Connect a Slack team"></a>

      <ul>
        <% @account.logins_dataset.where(provider: 'slack').each do |login| %>
          <li>
            <%= login.slack_team.name %></a>
            <a href="#" data-login-id="<%= login.id %>" class="btn btn-sm btn-danger">
              <i class="fa fa-trash-o"></i>
              <span class="sr-only">Remove Slack team</span>
            </a>
          </li>
        <% end %>
      </ul>

      <h2>Collectors</h2>
      <ul>
        <% @account.collectors.each do |collector| %>
          <li>
            <strong>
              <a href="https://open.spotify.com/user/<%= collector.playlist_owner_spotify_id %>/playlist/<%= collector.playlist_spotify_id %>"><%= collector.playlist_name %></a> 
            </strong>
            by <%= collector.playlist_owner_spotify_id %>
            : <code><%= collector.validation_token %></code>
            <a href="#" data-collector-id="<%= collector.id %>" class="btn btn-sm btn-danger">
              <i class="fa fa-trash-o"></i>
              <span class="sr-only">Remove collector</span>
            </a>
          </li>
        <% end %>
      </ul>
      <h3>Add a collector</h3>
      <form method="POST" action="/collectors">
        <p>Playlist URI or URL: <input name="playlist_uri" type="text"></p>
        <p>Slack webhook token: <input name="validation_token" type="text"></p>
        <input type="submit" value="Add Collector" class="btn btn-primary">
      </form>

      <h2>Playlists</h2>
      <ul>
        <% @playlists.each do |playlist| %>
          <li>
            <%= playlist.name %>
          </li>
        <% end %>
    <% end %>
  </div>
</div>